.nav-link {
	width: 100%;
	height: auto;
	cursor: pointer;
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.nav-link:first-child {
	border-top: 1px solid lightgray;
}

.nav-link:hover {
	background: lightgray;
}

.row {
	width: 100%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2%;
}

.tab-pane .row {
	width: 100%;
}

.doc-row label {
	width: 20%;
}

.doc-row textarea {
	width: 69%;
	height: auto;
}

.doc-row textarea.locked {
	background-color: white;
	border: 1px solid white;
}

.doc-row textarea.locked:focus {
	outline: none;
	box-shadow: none;
}

.doc-row textarea.locked.hover {
	background-color: #e5e5e5;
}

table>tbody>tr>td>textarea.locked {
	background-color: white;
	border: 1px solid white;
}

table>tbody>tr>td>textarea.locked:focus {
	outline: none;
	box-shadow: none;
}

table>tbody>tr>td>textarea.locked.hover {
	background-color: #e5e5e5;
}

.doc-row>.tooltip-wrapper:first-of-type {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.doc-row>.tooltip-wrapper:last-of-type {
	padding-right: 2.5px;
}

table th:last-of-type {
	padding: 0;
}

table .tooltip-wrapper {
	padding-top: 0.3rem;
}

table .tooltip-wrapper:first-of-type {
	float: left;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

table .tooltip-wrapper:last-of-type {
	padding-right: 2.5px;
}



.custom-btn.disabled {
	color: white;
	background-color: #e5e5e5;
	border-color: #e5e5e5;
	opacity: 1;

}

.custom-btn-icon {
	line-height: 12.5px;
}

code {
	padding: 2%;
	color: black;
	background-color: #e5e5e5;
	font-weight: normal;
}

/*
th:first-child {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

th:first-child:hover {
	overflow-x: visible;
	z-index: 1;
}

tbody th {
	font-weight: normal;
}*/


