#title-container {
	display: flex;
	align-items: baseline;
	margin-top: 1em;
}

#left-nav-content {
	max-width: -webkit-fill-available;
}

.tab {
	display: none;
}

.tab.show {
	display: block;
	max-width: -webkit-fill-available;
}

.nav-tab {
	overflow-x: auto;
}

.nav-tab.show, .nav-tab.show:hover {
	background-color: #3273DC;
	color: #ffffff;
	font-weight: bold;
}

.label-container {
	display: flex;
	align-items: center;
}

.button-group {
	margin-left: auto;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.button.discard {
	margin-right: 0.25em;
}

#add-annotation {
	width: 100%;
	justify-content: left;
}

#add-annotation>i {
	margin-right: 2.5%;
}

.breadcrumb-container {
	display: flex;
	align-items: center;
}

.breadcrumb {
	margin-bottom: 0.75rem!important;
}

textarea.oneline {
	line-height: 0.25em!important;
	padding-top: 1em;
	padding-bottom: 1em;
}

textarea.locked:hover {
	border-color: #dbdbdb;
}

table {
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	border-spacing: 0px;
	border-collapse: separate;
}

table th {
	border-width: 0 0 1px;
	align-items: center;
}

table th:first-child {
	width: 25%;
}

table th:first-child+th {
	width: 10%;
}

table th:first-child+th+th {
	width: 60%;
}

table th:last-child {
	padding-top: 0em;
	padding-bottom: 0em;
	vertical-align: middle;
}

table td:last-child {
	padding-top: 0em;
	padding-bottom: 0em;
	vertical-align: middle;
}

.add-element, .add-element:hover {
	color: #23d160;
	border: none;
	background-color: inherit;
}

.delete-element, .delete-element:hover {
	color: #ff3860;
	border: none;
	background-color: inherit;
}

code {
	color: #363636;
}
