{{#if nodes}}
	<a class="panel-block nav-tab" annotation="{{annotation}}" level="{{_level}}" style="padding-left: {{paddingLevel _level}}">{{title}}</a>
	{{#each nodes}}
		{{> leftNavPartial}}
	{{/each}}
{{/if}}