<div class="modal-background"></div>
	<div class="modal-card">
	<header class="modal-card-head">
		<p class="modal-card-title">Warning!</p>
	</header>
	<section class="modal-card-body">
		Are you sure you want to delete the "{{selected}}" annotation?
	</section>
	<footer class="modal-card-foot">
		<button id="confirm-delete" class="button is-danger" annotation="{{selected}}">Delete</button>
		<button id="cancel-delete" class="button" annotation="{{selected}}">Cancel</button>
	</footer>
</div>